---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';

import LikeCounter from '@components/likes/LikeCounter.vue';

export const prerender = true;

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---

<BlogPost {...post.data}>
  <div
    style={{
      height: '50px',
    }}
  >
    <LikeCounter postId={post.id} client:only="vue" />
  </div>

  <Content />
</BlogPost>
